body {
    background-color: #191847;
}

.spilKnap {
    background-color: #69a1ac;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    margin-top: 30%;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    margin-top: 10%;
}

                /*Topbar*/
.topBar {
    height: 12.5vh;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #F0F8FF;
    border-bottom-width: thick; 
}
.tilbageKnap {
    width: 14%;
    height: auto;
    margin-left: 5%;
}
.logoTop {
    width: 45%;
    height: auto;
    margin-left: 8%;
}
.indstillinger {
    width: 15%;
    height: auto;
    margin-left: 8%;
}
                /*Topbar slut*/


                /*Valg af avatar*/

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #F0F8FF;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}
.avatarDreng {
    width: 40%;
    height: auto;
    margin-left: 5%;
}
.avatarPige {
    width: 40%;
    height: auto;
    margin-left: 10%;
}
                /*Valg af avatar slut*/



                /*Hårstil*/

.indstillinger-dreng-stil {
    width: 50%;
    height: auto;
    margin-left: 5%;
}
.vpil {
    float: left;
    width: 10%;
    margin-top: 15%;
    margin-left: 10%;
}
.hpil {
    float: right;
    width: 10%;
    margin-top: 15%;
    margin-right: 10%;
}
                /*Hårstil slut/*

                /*Hårfave*/
.sort {
    width: 10%;
    margin-left: 29%;
}
.roed {
    width: 10%;
}
.brun {
    width: 10%;
}
.lys {
    width: 10%;
}
.haarfarve {
    margin-top: 5%;
}
.indstillinger-dreng-haar {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

                /*Hårfarve slut*/
                
                /*Videre knap*/
.videreKnap {
    background-color: #69a1ac;
    width: 16%;
    height: 12vh;
    margin: 0 auto;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    float: right;
    margin-top: 10%;
    margin-right: 2%;
}
.videreKnapForm {
    background-color: #69a1ac;
    width: 16%;
    height: 12vh;
    margin: 0 auto;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    float: right;
    margin-right: 2%;
    margin-top: -0.8%;
}
.videre {
    width: 75%;
}
                /*Videre knap slut*/

                /*Navneform*/
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 60%;
    padding: 4%;
    border: 0.1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #F0F8FF;
    margin-left: 20%;
}
::placeholder {
    font-weight: 400;
    font-size: 40px;
}

                /*Navneform slut*/