body {
    background-color: #191847;
}

.spilKnap {
    background-color: #69a1ac;
    width: 300px;
    height: 300px;
    color: orangered;
    margin: 0 auto;
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 30%;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    margin-top: 10%;
}

                /*Topbar*/
.topBar {
    height: 12.5vh;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #F0F8FF;
    border-bottom-width: thick; 
}
.tilbageKnap {
    width: 14%;
    height: auto;
    margin-left: 5%;
}
.logoTop {
    width: 45%;
    height: auto;
    margin-left: 8%;
}
.indstillinger {
    width: 15%;
    height: auto;
    margin-left: 8%;
}
                /*Topbar slut*/


                /*Valg af avatar*/

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #F0F8FF;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}
.avatarDreng {
    width: 40%;
    height: auto;
    margin-left: 5%;
}
.avatarPige {
    width: 40%;
    height: auto;
    margin-left: 10%;
}
                /*Valg af avatar slut*/

                /*Hårfave*/
.sort {
    width: 15%;
    margin-left: 19%;
}
.roed {
    width: 15%;
}
.brun {
    width: 15%;
}
.lys {
    width: 15%;
}
.haarfarve {
    margin-top: 5%;
}
                /*Hårfarve slut*/

                /*Avatar indstillinger*/

.indstillinger-dreng {
    width: 50%;
    height: auto;
    float: left;
}
.vpil1 {
    float: left;
    width: 10%;
}
.vpil2 {
    float: left;
    width: 10%;
}
.hpil1 {
    float: right;
    width: 10%;
}
.hpil2 {
    float: right;
    width: 10%;
}