body {
    background-color: #191847;
}

.spilKnap {
    background-color: #69a1ac;
    width: 100px;
    height: 100px;
    color: orangered;
    margin: 0 auto;
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    
}