html{
    scroll-behavior: smooth;
}

*{margin:0; padding:0; font-family: Roboto;}

section{width:100%; height: 800px; float:left;} 

#pageA{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(billede8.jpg);
background-size: 100%;
}


#pageB{
background: black;
top: 20%;
}

#pageC{
background: black;
}

#pageC h1 {
font-size: 40px;
color: #cc9f84;
width: 80%;
height: 20px;
text-align: justify;
margin-left: 10%;
margin-top: 5%;


}

#pageD{
background: black;
}


nav{
width:100%; 
position:fixed;
z-index:1; 
top:80px;
font-size: 18px;
font-weight:bold;
}

ul{width:fit-content; margin:auto; list-style:none;} 

ul li{float:left; margin-right:30px;}

ul li a{color:#fff; text-decoration:none;}

ul li a:hover{text-decoration: underline;}

h1 {
color:#fff; 
text-align: center;
margin-top: 190px;
font-size: 30px;
}


h3 {
color:#fff; 
text-align: center;
margin-top: 10px;
font-size: 80px;
}

h4 {
color: white;
text-align: center;
margin-top: 50px;
    
}

h5 {
color: #fff;
font-size: 30px;
text-align: center;
margin-top: 10%;
    
}

h5 a{
color: #fff;    
}


button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

button {
    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 2px solid #ffffff;
    font-size: 30px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    top:80%;
    
}

button:focus {
    outline: none;
    
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
    
}


button:hover {
    cursor: pointer;
}


button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
    
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;
    
}

img {
    margin-top: 7%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

footer{
        position: relative;
        float:left;
        width: 100%;
        height:200px; 
    }


    .footer_content{
        position: relative;
        float: left;
        width: 30%;
        height: 180px;
        margin-left: 2.4%;
        font-size: 15px;
        margin-top: 180px;
        padding-top: 10px;
        text-align: center;
        color: dimgrey;
    }

    .footer_content p{

        line-height: 160%;
    }

    #social-m a{
        display: inline-flex;
        width: 50px;
        height: 50px;
        background: white;
        color: black;
        margin: 0 6px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 25px;
    }

    #social-m a:hover{
        background: white;
    }

    #social-m a i{
        transition: 0.4s all;
    }

    #social-m a:hover > i{
        transform: scale(1.6) rotate(25deg);
    }


    *{
        box-sizing: border-box;
    }